<h2>This is a Home Page</h2>


<!-- make sure to give space before and after as {{ aaa }}  -->

<!-- {{ password }} -->

<form action="password">
    <select name="length" id="">
        <option value="3" selected="selected">3</option>
        <option value="4">4</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
    </select>
    <br>
    <input type="checkbox" name="uppercase"> UpperCase
    <br>
    <input type="checkbox" name="number"> Numbers
    <br>
    <input type="checkbox" name="special"> Special Characters
    <br>

    <input type="submit" value="Send">
</form>